<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta content="ie=edge" http-equiv="x-ua-compatible">
  <meta content="width=device-width, initial-scale=1" name="viewport">

  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>

  <meta content="<%= htmlWebpackPlugin.options.title %>" name="description">

</head>

<body>
<h3> Demo App for using TDLIB </h3>
<label> Contact fullName </label>
<input id="fullName" type="text"></input>
<label> Message </label>
<input id="message" type="text"></input>
<button id="send"> Send </button>
<div id='contacts'> </div>
<input id="chatName"> </input>
<button id="fetchChatBtn"> Fetch chats </button>
<div id='chatMessages'> </div>
<button id="logout"> Logout </button>
</body>

</html>

